#contentArea
  box-sizing: border-box
  padding: 15px
  width: 100%
  height: 100%

  .content-configuration
    width: 100%
    height: 100%

  .content-configuration.cdn
    display: flex
    flex-direction: column

    .build-load-indicator
      display: none

#build-list-view
  .build-list
    list-style: none
    padding: 0

  .item-template
    display: none
  .build-tile
    margin-right: 10px
    margin-bottom: 10px
    display: inline-block
    width: 350px
    height: 100px
    background-color: #666
    padding: 5px
    cursor: pointer !important
    user-select: none

    .tile-row
      display: block
      margin-bottom: 3px
      .region-flag
        display: inline-block
        width: 40px
        height: 30px
        .flag-icon
          width: 40px
          line-height: 30px
      .version-name
        margin-left: 5px
        display: inline-block
        width: 55px
        height: 30px
        line-height: 30px
        font-weight: bold
        font-size: 20px

  .build-tile:hover
    box-shadow: 0 0 10px #999
    background-color: #999

.content-configuration.local
  ul.item-template
    display: none

  .local-build-list-view
    list-style: none
    padding: 5px

    li
      margin-right: 10px
      margin-bottom: 10px
      display: inline-block
      width: 350px
      height: 100px
      background-color: #666
      padding: 5px
      cursor: pointer !important
      user-select: none

      .tile-row
        display: block
        margin-bottom: 0
        font-size: 14px
        .region-flag
          display: inline-block
          width: 40px
          height: 30px
          .flag-icon
            width: 40px
            line-height: 30px
        .version-name
          margin-left: 5px
          display: inline-block
          width: 55px
          height: 30px
          line-height: 30px
          font-weight: bold
          font-size: 20px

    li:hover
      box-shadow: 0 0 10px #999
      background-color: #999