#contentArea {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: 100%;
}
#contentArea .content-configuration {
  width: 100%;
  height: 100%;
}
#contentArea .content-configuration.cdn {
  display: flex;
  flex-direction: column;
}
#contentArea .content-configuration.cdn .build-load-indicator {
  display: none;
}
#build-list-view .build-list {
  list-style: none;
  padding: 0;
}
#build-list-view .item-template {
  display: none;
}
#build-list-view .build-tile {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 350px;
  height: 100px;
  background-color: #666;
  padding: 5px;
  cursor: pointer !important;
  user-select: none;
}
#build-list-view .build-tile .tile-row {
  display: block;
  margin-bottom: 3px;
}
#build-list-view .build-tile .tile-row .region-flag {
  display: inline-block;
  width: 40px;
  height: 30px;
}
#build-list-view .build-tile .tile-row .region-flag .flag-icon {
  width: 40px;
  line-height: 30px;
}
#build-list-view .build-tile .tile-row .version-name {
  margin-left: 5px;
  display: inline-block;
  width: 55px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  font-size: 20px;
}
#build-list-view .build-tile:hover {
  box-shadow: 0 0 10px #999;
  background-color: #999;
}
.content-configuration.local ul.item-template {
  display: none;
}
.content-configuration.local .local-build-list-view {
  list-style: none;
  padding: 5px;
}
.content-configuration.local .local-build-list-view li {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 350px;
  height: 100px;
  background-color: #666;
  padding: 5px;
  cursor: pointer !important;
  user-select: none;
}
.content-configuration.local .local-build-list-view li .tile-row {
  display: block;
  margin-bottom: 0;
  font-size: 14px;
}
.content-configuration.local .local-build-list-view li .tile-row .region-flag {
  display: inline-block;
  width: 40px;
  height: 30px;
}
.content-configuration.local .local-build-list-view li .tile-row .region-flag .flag-icon {
  width: 40px;
  line-height: 30px;
}
.content-configuration.local .local-build-list-view li .tile-row .version-name {
  margin-left: 5px;
  display: inline-block;
  width: 55px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  font-size: 20px;
}
.content-configuration.local .local-build-list-view li:hover {
  box-shadow: 0 0 10px #999;
  background-color: #999;
}
