body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.root .map-select-header {
  padding-top: 15px;
  padding-left: 15px;
  height: 75px;
  border-bottom: 1px solid #fff;
  flex-grow: 0;
  flex-shrink: 0;
}
.root .map-list-container {
  flex-grow: 1;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.root .map-list-container ul.map-list {
  padding: 0;
  padding-top: 15px;
  padding-left: 15px;
  list-style: none;
}
.root .map-list-container ul.map-list li {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #555;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.root .map-list-container ul.map-list li span.map-name {
  position: absolute;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  padding-left: 5px;
  padding-right: 5px;
}
.root .map-list-container ul.map-list li img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 150px;
  height: 150px;
}
.root .map-list-container ul.map-list li:hover span.map-name {
  height: 150px;
  line-height: initial;
  padding-top: 5px;
  padding-bottom: 5px;
}
