.frame {
  border: 1px solid #333;
  position: fixed;
  min-width: 200px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
}
.frame .frame-header {
  height: 28px;
  background-color: #333;
  flex-grow: 0;
  flex-shrink: 0;
  user-select: none;
}
.frame .frame-header .icon {
  margin-left: 2px;
}
.frame .frame-header .caption {
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
  line-height: 28px;
}
.frame .frame-header .close-icon {
  float: right;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.frame .frame-header .close-icon:hover {
  color: #f00;
}
.frame .frame-body {
  padding: 5px;
  background-color: rgba(1,1,1,0.8);
  flex-grow: 1;
}
