.frame
//  visibility: hidden
  border 1px solid #333
  position fixed
  min-width 200px
  min-height 100px
  display flex
  flex-direction column
  top 0
  left 0

  .frame-header
    height 28px
    background-color #333
    flex-grow 0
    flex-shrink 0
    user-select: none

    .icon
      margin-left 2px

    .caption
      color white
      font-weight bold
      margin-left 5px
      line-height 28px

    .close-icon
      float right
      width 30px
      height 30px
      line-height 25px
      text-align center
      font-size 20px
      font-weight bold

    .close-icon:hover
      color red


  .frame-body
    padding 5px
    background-color rgba(0.5, 0.5, 0.5, 0.8);
    flex-grow: 1