.frames > .frame
  opacity: 1
  -webkit-transition: opacity 200ms ease-out

.frames > .frame.hidden
  opacity: 0

#render-settings-frame
  width 300px
  height 200px
  top 200px
  left 200px

  label
    user-select none

 @keyframes help-icon-shadow
   from
     text-shadow 0 0 5px orange
     color orange
   to
     text-shadow 0 0
     color white

#terrain-editing-frame
  width 400px
  height 350px
  top 250px
  left 250px

  .slider-item-row
    display flex

    .form-help-icon
      font-size 8px
      vertical-align top
      animation-name help-icon-shadow
      animation-duration 1000ms
      animation-iteration-count infinite
      animation-direction alternate

    .form-min-value, .form-max-value
      width: 25px
      text-align: right

    span:first-child
      width: 100px

    > *
      flex-grow 0
      flex-shrink 0

    input.slider
      flex-grow 1
      flex-shrink 1
      margin-left 5px
      margin-right 5px
