.frames > .frame {
  opacity: 1;
  -webkit-transition: opacity 200ms ease-out;
}
.frames > .frame.hidden {
  opacity: 0;
}
#render-settings-frame {
  width: 300px;
  height: 200px;
  top: 200px;
  left: 200px;
}
#render-settings-frame label {
  user-select: none;
}
#terrain-editing-frame {
  width: 400px;
  height: 350px;
  top: 250px;
  left: 250px;
}
#terrain-editing-frame .slider-item-row {
  display: flex;
}
#terrain-editing-frame .slider-item-row .form-help-icon {
  font-size: 8px;
  vertical-align: top;
  animation-name: help-icon-shadow;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#terrain-editing-frame .slider-item-row .form-min-value,
#terrain-editing-frame .slider-item-row .form-max-value {
  width: 25px;
  text-align: right;
}
#terrain-editing-frame .slider-item-row span:first-child {
  width: 100px;
}
#terrain-editing-frame .slider-item-row > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#terrain-editing-frame .slider-item-row input.slider {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 5px;
  margin-right: 5px;
}
@-moz-keyframes help-icon-shadow {
  from {
    text-shadow: 0 0 5px #ffa500;
    color: #ffa500;
  }
  to {
    text-shadow: 0 0;
    color: #fff;
  }
}
@-webkit-keyframes help-icon-shadow {
  from {
    text-shadow: 0 0 5px #ffa500;
    color: #ffa500;
  }
  to {
    text-shadow: 0 0;
    color: #fff;
  }
}
@-o-keyframes help-icon-shadow {
  from {
    text-shadow: 0 0 5px #ffa500;
    color: #ffa500;
  }
  to {
    text-shadow: 0 0;
    color: #fff;
  }
}
@keyframes help-icon-shadow {
  from {
    text-shadow: 0 0 5px #ffa500;
    color: #ffa500;
  }
  to {
    text-shadow: 0 0;
    color: #fff;
  }
}
