body, html
  background-color: transparent !important

  > header
    width: 100%
    height: 50px;
    background-color: rgba(0.3, 0.3, 0.3, 0.8)

  > footer
    width: 100%
    height: 50px
    position: absolute
    left: 0
    bottom: 0px
    background-color: rgba(0.3, 0.3, 0.3, 0.8)

  > .left-bar
    width: 50px
    position: absolute
    top: 50px
    bottom: 50px
    background-color: rgba(0.3, 0.3, 0.3, 0.8)

  > .right-bar
    width: 50px
    position: absolute
    top: 50px
    right: 0
    bottom: 50px
    background-color: rgba(0.3, 0.3, 0.3, 0.8)

  > footer
    padding-left: 5px
    > div
      height: 50px
      line-height: 50px

.slider
  -webkit-appearance none
  background #d3d3d3
  outline none
  opacity 0.7
  transition opacity 0.2s
  height 5px

.slider:hover
  opacity 1

.slider::-webkit-slider-thumb
  -webkit-appearance none
  cursor: ew-resize
  width 15px
  height 15px
  border-radius: 50%
  background #1f76b0

.left-bar
  -webkit-transition: width 200ms ease-out

  .expand-row
    width 100%
    height 15px
    padding-right: 5px
    cursor: pointer
    margin-bottom: 15px

    span
      float right

  .expand-row:hover
    background-color #555

  .full-title
    display: none

  .icon-row
    display: flex
    cursor: pointer
    overflow: hidden
    height: 50px
    user-select: none !important

    .icon
      width 50px
      height 50px
      font-size 30px
      line-height 50px
      text-align center
      flex-grow 0
      flex-shrink 0

    .full-title
      flex-grow 1
      flex-shrink 1

  .icon-row:hover
    background-color: #555

.left-bar.expanded
  width: 200px

  .full-title
    display inline-block
    font-size: 20px
    line-height: 50px
