.map-entry-select-root
  height: 100%

#map-control-container
  display: inline-block
  position: absolute
  top: 15px
  right: 15px
  padding: 15px
  border: 1px solid rgba(1, 1, 1, 0.8)
  background-color: rgba(0.3, 0.3, 0.3, 0.6)
  z-index: 9999
  height: 250px