html
  width: 100%
  height: 100%

html, body
  padding: 0
  margin: 0

body
  width: 100%
  height: 100%

.split-pane
  width: 100%
  height: 100%
  display: flex

  > .collapse-pane
    transition: width 200ms ease-out
    width: 400px
    background-color: #333

    > .header
      height: 50px
      display: flex
      overflow: hidden

      .split-pane-toggle
        line-height: 50px
        width: 50px
        text-align: center
        font-size: 30px
        flex-shrink: 0

      .split-pane-toggle:hover
        background-color: #222
        cursor: pointer

      .title
        font-size: 30px
        line-height: 50px
        cursor: default
        height: 50px
        overflow: hidden

    > .commands
      margin-top: 15px

      .command
        display: flex
        overflow: hidden
        height: 50px

        i
          flex-shrink: 0
          text-align: center
          width: 50px
          line-height: 50px
          font-size: 25px

        span
          font-size: 25px
          line-height: 50px
          flex-grow: 1

      .command:hover
        background-color: #222
        cursor: pointer !important

  > .collapse-pane.collapsed
    width: 50px

  > .content-pane
    flex-grow: 1

.element-hidden
  display: none !important