html {
  width: 100%;
  height: 100%;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
}
.split-pane {
  width: 100%;
  height: 100%;
  display: flex;
}
.split-pane > .collapse-pane {
  transition: width 200ms ease-out;
  width: 400px;
  background-color: #333;
}
.split-pane > .collapse-pane > .header {
  height: 50px;
  display: flex;
  overflow: hidden;
}
.split-pane > .collapse-pane > .header .split-pane-toggle {
  line-height: 50px;
  width: 50px;
  text-align: center;
  font-size: 30px;
  flex-shrink: 0;
}
.split-pane > .collapse-pane > .header .split-pane-toggle:hover {
  background-color: #222;
  cursor: pointer;
}
.split-pane > .collapse-pane > .header .title {
  font-size: 30px;
  line-height: 50px;
  cursor: default;
  height: 50px;
  overflow: hidden;
}
.split-pane > .collapse-pane > .commands {
  margin-top: 15px;
}
.split-pane > .collapse-pane > .commands .command {
  display: flex;
  overflow: hidden;
  height: 50px;
}
.split-pane > .collapse-pane > .commands .command i {
  flex-shrink: 0;
  text-align: center;
  width: 50px;
  line-height: 50px;
  font-size: 25px;
}
.split-pane > .collapse-pane > .commands .command span {
  font-size: 25px;
  line-height: 50px;
  flex-grow: 1;
}
.split-pane > .collapse-pane > .commands .command:hover {
  background-color: #222;
  cursor: pointer !important;
}
.split-pane > .collapse-pane.collapsed {
  width: 50px;
}
.split-pane > .content-pane {
  flex-grow: 1;
}
.element-hidden {
  display: none !important;
}
